# Dependencies
node_modules/
package-lock.json (可选，根据个人风格)

# Local Environment
.env

# Comics Cache (影解压缓存目录，严禁提交到 Git)
/library/cache/
/library/temp/

# OS Files
.DS_Store
Thumbs.db

# Project logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
